html,
body,
#root {
  height: 100vh; /* 100% */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App .card {
  max-width: 30vw;
  width: 100%;
  text-align: center;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio { /*same start point vertically with the adjacent sibling*/
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}


.field>label {
  display: block;
  text-align: left;
}

.login-error-msg {
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.admin {
  height: 100vh;
  width: 100%;
}

.light-green {
  background-color: rgb(168, 221, 168);
}

.admin-content {
  width: 80%;
  margin: auto;
}

.tabs{
  background-color:#001d3d;
  margin-top: -5px;
}

.tabs ul li a {
  color: white;
}

